.myStatus{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

ion-content{
  --background: var(--ion-color-tertiary)
}
ion-avatar{
  border: 1px dashed var(--ion-color-secondary);
  height: 50px;
  width: 50px;
}

.avatar{
border: 1px dashed var(--ion-color-secondary);
width: 32px;
}
