<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="{{message.photo}}" alt="" />
    </ion-avatar>
    <ion-label>{{message.firstName}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="container">
    <div
      class="baloon-general baloon-received recievedAnchor"
      style="color: white"
    >
      <p style="margin: '8px 8px 32px'; word-break: break-word">
        {{message.message}}
      </p>
      <p class="date" style="color: black">{{message.hour}}</p>
    </div>
    <div class="baloon-general baloon-chat anchor" style="color: white">
      <p style="margin: '8px 8px 32px'; word-break: break-word">
        {{message.message}}
      </p>
      <p class="date">{{message.hour}}</p>
    </div>
  </div>
</ion-content>

<ion-footer class="footer2" [translucent]="true">
  <div class="footer1">
    <ion-button class="btn" size="small" slot="icon-only">
      <ion-icon style="font-size: 20px" name="happy-outline"></ion-icon>
    </ion-button>
    <ion-input placeholder="Mensagem"></ion-input>
    <ion-buttons slot="end">
      <ion-icon
        style="font-size: 20px"
        class="ion-margin-end"
        name="attach-outline"
      ></ion-icon>
      <ion-icon style="font-size: 20px" name="camera"></ion-icon>
    </ion-buttons>
  </div>
  <ion-button class="btn1" size="small" class="mic" color="secondary">
    <ion-icon name="mic-outline"></ion-icon>
  </ion-button>
</ion-footer>
