.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-title, ion-segment-button {
  font-weight: 600;
}
ion-segment{
  ion-segment-button:first-of-type{
    --padding-end: 0;
    --padding-start: 0;
    min-width: 16px;
  }
}
.listItem{
  display: flex;
  flex-direction: column;
}

.hour{
  font-size: 0.7rem;
  display: flex;
  align-self: start;

}
.grid{
text-align-last: center;

}
ion-slides {
  height: 100%;
  width: 100%;
}
.segment{
  background-color:var(--ion-color-primary);

}

.camera{
  display: flex;
  width: 30px;
}

.chips{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ion-label{
    font-size: 10px;
  }
}
ion-chip{
  width: auto;
  height: 24px;
}
ion-searchbar{
  --box-shadow: none;
}
